.titleScreen{
    background: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url(https://media.giphy.com/media/1yld7nW3oQ2IyRubUm/source.gif) center no-repeat;
    background-size: cover;
    
    
    
}

.logo{
    width: 100%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.menuContainer{
    width: 60%;
    height: 10rem;
    // border: 1px solid red;
    margin-bottom: 3%;
    // padding: 0 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .MenuOption{
        width: 13rem;
        height: 3rem;
        background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
        
        border-radius: 5rem;
        border: 3px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 600;
        font-size: 1rem;
        
        transition: 200ms linear;
    }
    
    .MenuOption:hover{
        transform: scale(1.1);
    }
    
    
}

.copyright{
    
    position: absolute;
    bottom: 2%;
    left: 50%;
    
    transform: translateX(-50%);
    color: white;
}